if SHIELD_TAKTYL_RIGHT

if ZMK_TRACKPAD

config ZMK_TRACKPAD_LOGICAL_X
	default 3072

config ZMK_TRACKPAD_LOGICAL_Y
	default 2048

config ZMK_TRACKPAD_PHYSICAL_X
	default 3072

config ZMK_TRACKPAD_PHYSICAL_Y
	default 2048

endif # ZMK_TRACKPAD

endif

if SHIELD_TAKTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "TakTyl"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_TAKTYL_LEFT || SHIELD_TAKTYL_RIGHT

config ZMK_SPLIT
	default y

endif
