if SHIELD_TAKTYL_RIGHT

config ZMK_KEYBOARD_NAME
    default "TakTyl"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif 

if SHIELD_TAKTYL_LEFT || SHIELD_TAKTYL_RIGHT

config ZMK_SPLIT
	default y

endif
